footer {
  background-color: black;
  color: white;
  position: relative;
  img.footer-img {
    position: absolute;
    max-width: unset;
    max-height: unset;
    // z-index: -1;
  }
  img.footer-img-right {
    transform: scale(0.5);
    opacity: 0.4;
    right: -371px;
    bottom: -15px;
  }
  img.footer-img-left-1 {
    transform: scale(0.7);
    opacity: 0.2;
    left: -156px;
    bottom: 35px;
  }
  img.footer-img-left-2 {
    transform: scale(0.5);
    opacity: 0.18;
    left: -92px;
    bottom: 0px;
  }
  img.footer-logo {
    position: absolute;
    top: calc((100% - 130px) / 2);
  }
  .container {
    ul.footer-menu {
      li {
        &::after {
          content: " \0000a0|\0000a0";
        }
        &:last-child::after {
          content: "";
        }
      }
    }
  }
}

@media (max-width: 992px) {
  footer {
    img.footer-logo {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  footer {
    img.footer-img-right {
      transform: scale(0.3);
      right: -434px;
      bottom: -80px;
    }
    img.footer-img-left-1 {
      transform: scale(0.5);
      opacity: 0.2;
      left: -168px;
      bottom: 20px;
    }
    img.footer-img-left-2 {
      transform: scale(0.4);
      opacity: 0.18;
      left: -112px;
      bottom: 20px;
    }
  }
}
@media (max-width: 582px) {
  footer {
    img.footer-img-right {
      bottom: -50px;
    }
  }
}
@media (max-width: 576px) {
  footer {
    img.footer-img-left-1,
    img.footer-img-left-2 {
      display: none;
    }
  }
}
@media (max-width: 416px) {
  footer {
    img.footer-img-right {
      bottom: -30px;
    }
  }
}
@media (max-width: 354px) {
  footer {
    img.footer-img-right {
      bottom: -10px;
    }
  }
}
